:root {
    --text-editor-color: #252323;
    --name-editor-color: #1E1E1E;
    --note-color-1: #323232;
    --note-color-2: #464646;
    --note-color-hover: #646464 ;
    --ligth: #DCDCDC;
    --settings-color: #131313;
    --button-border-color: #1c1919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

#nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--name-editor-color);
    color: var(--ligth)
}

#title {
    padding: 15px;
}

#notes-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.note {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;

    .btns-container {
        align-self: end;
        display: flex;
        gap: 5px;
    }

    .btns-container > .btn {
        width: 70px;
    }
}

.note:nth-child(odd) {
    background-color: var(--note-color-1);
}
.note:nth-child(even) {
    background-color: var(--note-color-2);
}

.note:hover {
    background-color: var(--note-color-hover);
}

#editor {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#note-name-editor , #note-text-editor {
    font-size: 20px;
    outline: none;
    border: none;
    padding: 15px;
    color: var(--ligth);
    resize: none;
}

#note-name-editor {
    background-color: var(--name-editor-color);
}

#note-text-editor {
    background-color: var(--text-editor-color);
}

#tools-bar-editor {
    background-color: var(--name-editor-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .section-2 {
        color: var(--ligth);
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

.btn {
    padding: 5px;
    min-width: 30px;
    height: 30px;
    background-color: var(--text-editor-color);
    color: var(--ligth) ;
    border: none;
    cursor: pointer;
    border-bottom: 4px solid var(--button-border-color);
}

.btn:active {
    position:relative;
    border: none;
    height: 26px;
    bottom: -4px;
}

#settings-card {
    display: grid;
    grid-template-rows: 1fr auto;

    padding: 15px;
    background-color: var(--settings-color);
    color: var(--ligth);

    width: 600px;
    height: 500px;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;


    #settings-card-food {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    
    a {
        text-decoration: none;
    }
}

.setting-option {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--name-editor-color);
}